//
// Base navigation styles
//======================================
.genesis-nav-menu {
  clear: both;
  font-family: $nav--font-family;
  @include rem(font-size, $nav--font-size);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  width: 100%;

  @include media($breakpoint__screen-size--large) {
    text-align: center;

    li,
    .site-header ul & {
      float: none;
    }
  }

  .menu-item {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
  }

  a {
    color: $nav--link-color;
    text-decoration: none;
    display: block;
    padding: 32px 20px;
  }

  a:hover,
  a:focus,
  .current-menu-item > a  {
    color: $nav--hover-color;
    text-decoration: none;
  }

  .menu-item:hover {
    position: static;
  }

  > .first > a {
    padding-left: 0;
  }

  > .last > a {
    padding-right: 0;
  }

  > .right {
    float: right;
  }
}