//
// Primary Navigation
//======================================

.nav-primary {
  background-color: $primary-nav--background-color;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  @include media($breakpoint__screen-size--medium) {
    border: none;
  }
}

#menu-main {
  font-family: $nav--font-family;
  @include rem(font-size, $nav--font-size);
  text-transform: uppercase;
  line-height: $primary-nav--line-height;
}

