//
// Primary Navigation
//======================================

.nav-primary {
  background-color: $primary-nav--background-color;
  border-top: 1px solid $gray--lighter;
  width: 100%;
  float: left;
  margin-top: 2px;
  @include media($breakpoint__screen-size--large) {
    border: none;
  }
}

#menu-main {
  font-family: $nav--font-family;
  @include rem(font-size, $nav--font-size);
  text-transform: uppercase;
  line-height: 2;
}

