//
// Site Header Base Styles
//======================================

.site-header {
  background-color: $site-header--background-color;
  position: relative;
  min-height: 72px;
  > .wrap {
    padding: 28px 0 0 24px;
  }
    @include media( $breakpoint__screen-size--smaller ) {
    width: 100%;
    .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

