//
// Main Entry Article
//======================================

.entry {
  margin-bottom: 40px;
  padding: 30px 80px;

    @include media( $breakpoint__screen-size--small ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}