//
// Content
//======================================

.content {
  float: right;
  width: $content--width;

  @include media( $breakpoint__screen-size--larger ) {
    width: $content--width--larger-screen;

  }
  @include media( $breakpoint__screen-size--large ) {
    width: $content--width--large-screen;
  }

  .full-width-content & {
    width: 100%;
  }
}
