//
// Title Area Base Styles
//======================================

.title-area {
  float: left;
  padding: 10px 0;
  width: $title-area--width;

    @include media( $breakpoint__screen-size--smaller ) {
    width: 100%;
    text-align: center;
  }
}
