//
// Dimension Variables
//======================================

$base--width: 1280;
$gutter: 40px;

//Max Widths
$max-width: $base--width + px;
$max-width--larger-screen: 1140px;
$max-width--large-screen: 960px;
$max-width--medium-screen: 800px;
$max-width__landing-page: 800px;

// Content Widths
$content--width: $base--width * 0.6875 + px;
$content--width--larger-screen: 800px;
$content--width--large-screen: 620px;


// Header
$title-area--width: 300px;
$site-title--min-height: 80px;
$header-right--width: 800px;
$header-right--width--large-screen: 620px;

// Footer
$footer-widgets--width: 380px;
$footer-widgets--width--larger-screen: 340px;
$footer-widgets--width--large-screen: 300px;